h1 FreeCodeCamp's API Project

h2 TimeStamp Microservice

h3 Example usage:
    br
    a(href="https://timestamp-microservice-sanjogs.herokuapp.com/December%2027,%202016") https://timestamp-microservice-sanjogs.herokuapp.com/December 27,2016
    br
    a(href="https://timestamp-microservice-sanjogs.herokuapp.com/1482796800000") https://timestamp-microservice-sanjogs.herokuapp.com/1482796800000